<div class="container">
  <% content_for :title, "New student" %>
  <div class="card border-0">
  
      <div class="card-title text-center my-3 bg-secondary-subtle py-3">
      <h1>NEW STUDENT</h1>
      </div>
  
      <div class="card-body">
        <%= render "form", student: @student %>
      </div>
      
  </div>
</div>